html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#site-header {
    position: fixed;
    z-index: 1000; /* Navbar'ý üstte tutar */
}

.breadcrumb-bg-about {
    margin-top: 70px; /* Navbar yüksekliðine göre ayarlayýn */
    background-position: center bottom; /* Arka plan resmini aþaðý kaydýrýr */
    background-size: cover; /* Resmi kapsayýcýya uygun ölçeklendirir */
}